{% extends "home/base.html" %}

{% block title %}Attendance{% endblock %}

{% block content %}
    <h2>Attendance</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Muskan Behl</td>
            <td>Data Mining</td>
            <td>31-08-2025</td>
            <td>Present</td>
        </tr>
        <tr>
            <td>Parishi Mishra</td>
            <td>DBMS</td>
            <td>31-08-2025</td>
            <td>Absent</td>
        </tr>
    </table>
{% endblock %}
