{% extends "home/base.html" %}

{% block title %}Marks{% endblock %}

{% block content %}
    <h2>Marks</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Marks</th>
            <th>Teacher</th>
        </tr>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.Student.Name }}</td>
                <td>{{ mark.Subject }}</td>
                <td>{{ mark.Marks_Obtained }}</td>
                <td>
                    {% if mark.Teacher %}
                        {{ mark.Teacher.Name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4">No marks available.</td></tr>
        {% endfor %}
    </table>
{% endblock %}
